<!DOCTYPE html>
<html>
<head>

  module ApplicationHelper
  def page_title(title)
  title += " | " if title.present?
  title += "Fore-site"
  end
  end

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
